* {
    box-sizing: border-box;
}

body {
    background-color: aliceblue;
}

header {
    display: flex;
    justify-content: space-between;
    
}

header img {
    width: 300px;
    height: 60px;
}

nav {
    width: 600px;
    height: 60px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    padding: 0;
}

nav li {
    font-size: 17px;
    margin: 0 62px;
}

a {
    text-decoration: none;
    color: black;
}

main, footer {
    margin: 0 200px;
}

main {
    text-align: center;
}

video {
    border: 1px solid blue;
    width: 500px;
    height: 300px;
    margin: 50px;
}

#options {
    /* border: 1px solid peru; */
    display: flex;
    justify-content: space-evenly;
}

section#options section {
    width: 300px;
    border: 1px solid black;
}

#options input {
    background-color: rgb(246, 189, 84);
    border: none;
    font-size: 16px;
    padding: 10px 16px;
    margin: 12px;
}

h4 {
    background-color: rgb(221, 219, 219);
    padding: 12px;
    margin: 0;
}

#middle {
    margin: 100px 0;
}

#middle img {
    width: 150px;
    height: 100px;
}

.middles {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 30px;
}

div {
    text-align: left;
    margin-left: 60px;
}

div p {
    padding-bottom: 20px;
}

/* section {
    border: 1px solid black;
} */
